<div class="jumbotron">
    <h2 class="text-warning">About The Newsbook</h2>
    <p>The Newsbook brings you the latest, breaking news from our trusted global network of journalists.When you want to know what’s happening, tap into the global news gathering power of Newsbook. With correspondents and bureaus reporting from across the
        world, no other news source even comes close.</p>
    <br>
    <h3>Features</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="well well-sm well-success">
                <b style="color:white">Latest News</b>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well well-sm well-success">
                <b style="color:white">In shorts</b>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="well well-sm well-success">
                <b style="color:white">Very Fast</b>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well well-sm well-success">
                <b style="color:white">News over the world</b>
            </div>
        </div>
    </div>

</div>