<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse" (click)="toggleState()">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" routerLinkActive="active" routerLink='/home'><span class="glyphicon glyphicon-globe"></span> The Newsbook</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse" [ngClass]="{ 'in': isIn }">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink='/about'>About Us</a></li>
                <li routerLinkActive="active"><a routerLink="/build">Build Tools</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/pritamparker/the-newsbook" target="_blank">Fork Me</a></li>
            </ul>
        </div>
    </div>
</div>